@font-face {
    font-family: 'Digital-7';
    src: url('digital_7/digital-7.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    font-family: 'Digital-7', Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: end;
}

#fullscreen-btn {
    background-color: #000;
    color: #FFF;
    border: 0;
    margin-right: 20px;
}

.side-menu {
    position: absolute;
    background-color: #111;
    border: 1px solid #fff;
    border-left: 0;
    min-height: 90vh;
    min-width: 700px;
    top: 5%;
    left: -100%;
    right: 100%;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}

.side-btn {
    position: absolute;
    top: -1px;
    left: 100%;
    color: #fff;
    background-color: #111;
    border: 1px solid #fff;
    border-left: 0;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.side-btn:hover {
    background-color: #6b6b6b44;
    border: 0;
}

.side-menu h2 {
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    text-shadow: 1px 2px 4px #cccccc82;
    font-family: Arial, Helvetica, sans-serif;
}

.setProgArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-menu .setProg {
    padding: 10px 20px;
}

.side-menu input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.res {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.side-menu .prog,
.side-menu .temp {
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #dddddd82;
    background-color: #eee;
    font-weight: bold;
}

.side-menu .prog {
    width: 250px;
    padding: 5px 10px;
}

.side-menu .temp {
    width: 70px;
    text-align: center;
    padding: 5px;
}

.side-menu .controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:not(.side-btn, #fullscreen-btn){
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    margin-top: 50px;
    border-radius: 5px;
}

button:not(.side-btn, #fullscreen-btn):hover {
    background-color: #cccccc50;
    color: #fff;
}


.hidden {
   display: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 400;
    display: inline-block;
    flex: 1;
    text-align: center;
    padding-left: 250px;
}

.next{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #FFF;
    width: 250px;
    text-align: right;
    font-size: 60px;
}

.contdown {
    color: white;
    font-size: 200px;
}

.bar-area {
    height: 100px;
    width: 90%;
    border: 3px solid #FFF;
}

.bar-progress {
    width: 20%;
    height: 100%;
    background-color: green;
}


.digital {
    color: #FFF;
    font-size: 150px;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}

@keyframes blinkBar {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: yellow;
    }
}

.blink-bar {
    animation: blinkBar 1s infinite;
}

@keyframes blinkText {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}

.blink-text {
    animation: blinkText 0.5s infinite;
}
